.Forms {
    display: flex;
    /* justify-content: center;
    /* justify-self: center; */
    /* margin: 0 auto; */
    position: fixed;
    bottom: 0%;
    max-width: 100vw;
    /* min-height: 4vh; */
    /* font-size: 20px; */
}


.Windows.MuiFormControl-root {
    border-radius: 1px;
    background-color: greenyellow;
    width: 100vw;
    border: none;
}


.btnSub.MuiButtonBase-root {
    width: 20vh;
    font-size: large;
    background-color: greenyellow;
    border-radius: 30px;
    color: black;

}