.Forms {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    /* justify-content: center;
    /* justify-self: center; */
    /* margin: 0 auto; */
    position: fixed;
    bottom: 0%;
    right: 10px;
    /* max-width: 100vw; */
    /* min-height: 4vh; */
    /* font-size: 20px; */
}


.Windows.MuiFormControl-root {
    display: flex;
    justify-content: flex-start;
    border-radius: 1px;
    background-color: greenyellow;
    position: relative;
    width: 86vw;
    border: none;
}


.btnSub.MuiButtonBase-root {
    display: flex;
    justify-content: flex-start;
    width: 12vw;
    font-size: large;
    background-color: greenyellow;
    border-radius: 30px;
    color: black;

}